            /* DropMenu */
details {
	position: relative;
	width: 100px;
	margin-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
    margin-left: 40px;
    margin-bottom: 3px;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 100px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

        /* Body */

body {
    font-family: 'Poppins', sans-serif;
}


        /* Header */

.header {
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    padding: 25px 0px 35px 20px;
	margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.sub-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #ADA4A5;
    margin-bottom: 12px;
    position: relative;
}

.header-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #1D1617;
}

.icon {
    position: absolute;
    width: 110px;
    height: 87px;
    background: rgba(135, 183, 255, 0.18);
    background-image: url(../img/edit/header-img.png);
	background-size: 55px;
    background-repeat: no-repeat;
    background-position: 35px center;
    background-attachment: local;
    border-radius: 38px 0px 0px 38px;
    right: 0px;
    top: 15px;
}

		/* Container */
.container {
	padding-left: 27px;
    padding-right: 27px;
}

.blocks {
    overflow: auto;
    height: 478px;
    border-radius: 20px;
}

.block {
	display: flex;
	justify-content: space-between;
	background: rgba(249, 214, 255, 0.16);
	box-shadow: 0px 2px 4px rgba(127, 186, 255, 0.25);
	border-radius: 13px;
	padding-top: 7px;
	margin-bottom: 21px;
}

.block:last-child {
    margin-bottom: 0px;
}

.left-info {
	margin-left: 24px;
}

.date {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.repeats {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.repeats span {
	font-size: 10px;
    margin-left: 5px;
}

.right-info {
	margin-right: 12px;
    width: 50px;
    text-align: center;
}

.dots {
    position: relative;
	color: #979797;
	font-size: 20px;
	margin-left: 0px;
}

.delete {
    display: none;
    position: absolute;
    top: 5px;
    background: #5DC5FF;
    border-radius: 9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
    padding: 6px 12px;
}

.percent {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 15px;
	color: #00C3DE;
	margin-bottom: 0px;
}

                /* Navbar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100vw;
    height: 32px;
    background: #f8f8f8;
    box-shadow: 0px 10px 40px rgb(29 22 23 / 22%);
    padding-top: 27px;
    padding-bottom: 27px;
}

.left-nav {
    width: 13vh;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.right-nav {
    width: 13vh;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.home-link {
    /* margin-right: 35px; */
    margin-top: 1px;
}

.home-ico {
    width: 24px;
    height: 25px;
}

.stat-link {
    height: 29px;
}

.stat-ico {
    width: 29px;
    height: 29px;
}

.add {
    position: absolute;
    top: -29px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 26px 27px 26px 27px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.plus {
    width: 11px;
    height: 11px;
}

.edit-link {
    pointer-events: none;
}

.edit-ico {
    width: 24px;
    height: 32px;
}

.profile-link {
    margin-left: 35px;
    height: 28px;
}

.profile-ico {
    width: 28px;
    height: 28px;
}

                /* Modal */
.modal-bg {
    display: none;
    position: absolute;
    top: 120px;
    background-color: rgba(0, 42, 255, 0.203);
    width: 100%;
    height: 80%;
}

.modal {
    margin-right: auto;
    margin-left: auto;
    margin-top: 107px;
    width: 219px;
    height: 345px;
    background-color: white;
    box-shadow: 0px 10px 40px -3px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    text-align: center;
}

.modal-icon {
    width: 65px;
    height: 65px;
    margin-top: 22px;
    margin-bottom: 3px;
}

.modal-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.agree {
    position: absolute;
    top: 400px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 24px 25px 24px 25px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.agree-icon {
    width: 21px;
    height: 21px;
}