           /* DropMenu */
details {
	position: relative;
	width: 100px;
	margin-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
    margin-left: 40px;
    margin-bottom: 3px;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 100px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}

/* Header */
.header {
    padding-top: 25px;
    padding-bottom: 37px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back {
    width: 35px;
    height: 35px;
}

.dots {
    width: 35px;
    height: 35px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1D1617;
    margin-top: 8px;
}

                /* Main */
.profile {
    margin-bottom: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.name-ico {
    display: flex;
}

.avatar {
    width: 55px;
    height: 55px;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1D1617;
}

.text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B6F72;
}

.edit-data {
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 99px;
    height: 10px;
    width: 83px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 14px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.block {
    padding-top: 11px;
    padding-bottom: 11px;
    width: 95px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B6F72;
}

.block:not(:last-child) {
    margin-right: 15px;
}

.block p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 5px;
}

/* data-card */
.section {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    margin-bottom: 21px;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1617;
    margin-bottom: 21px;
}

.link {
    display: flex;
    justify-content: space-between;
}

.link:not(:last-child){
    margin-bottom: 10px;
}

.left {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #7B6F72;
}

.left p {
    /* height: 2px; */
    margin-top: 1px;
}

.link-img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.arrow {
    height: 18px;
    width: 18px;
}

                /* Navbar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100vw;
    height: 32px;
    background: #f8f8f8;
    box-shadow: 0px 10px 40px rgb(29 22 23 / 22%);
    padding-top: 27px;
    padding-bottom: 27px;
}

.left-nav {
    width: 13vh;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.right-nav {
    width: 13vh;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.home-link {
    /* margin-right: 35px; */
    margin-top: 1px;
}

.home-ico {
    width: 24px;
    height: 25px;
}

.stat-link {
    height: 29px;
}

.stat-ico {
    width: 29px;
    height: 29px;
}

.add {
    position: absolute;
    top: -29px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 26px 27px 26px 27px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.plus {
    width: 11px;
    height: 11px;
}

.edit-link {
    height: 24px;
}

.edit-ico {
    width: 24px;
    height: 24px;
}

.profile-link {
    height: 28px;
    pointer-events: none;
}

.profile-ico {
    width: 19px;
    height: 33px;
}

                /* Modal */
.modal-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 42, 255, 0.203);
    width: 100%;
    height: 100%;
}

.modal {
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    width: 219px;
    height: 345px;
    background-color: white;
    box-shadow: 0px 10px 40px -3px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    text-align: center;
}

.modal-icon {
    width: 65px;
    height: 65px;
    margin-top: 22px;
    margin-bottom: 3px;
}

.modal-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.agree {
    position: absolute;
    top: 490px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 24px 25px 24px 25px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.agree-icon {
    width: 21px;
    height: 21px;
}