            /* DropMenu */
details {
	position: relative;
	width: 100px;
	margin-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
    margin-left: 40px;
    margin-bottom: 3px;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 100px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
/* body */

body {
    width: 100vw;
    height: 100vh;
}
            /* container */
.container {
    padding-left: 27px;
    padding-right: 27px;
}

            /* header */

.header {
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    padding: 25px 0px 35px 20px;
    display: flex;
    justify-content: space-between;
}

.sub-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #ADA4A5;
    margin-bottom: 12px;
    position: relative;
}

.header-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #1D1617;
}

.icon {
    position: absolute;
    width: 110px;
    height: 87px;
    background: rgba(135, 183, 255, 0.18);
    background-image: url(../img/header-ico.png);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-attachment: local;
    border-radius: 38px 0px 0px 38px;
    right: 0px;
    top: 15px;
}

            /* Main */
.main {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/* Stat */
.today-stat {
    background-image: url(../img/Home/today-stat.png);
    background-repeat: no-repeat;
    background-size: 470px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    height: 99px;
    width: 100%;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 25px;
    border-radius: 22px;
    padding-top: 8px;
}

.today-stat-title {
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 10px;
    color: white;
}

.stat {
    display: flex;
    justify-content: center;
    padding-left: 27px;
    padding-right: 27px;
}

.repeats-block,
.approach-block,
.average-block {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.48);
}

.repeats-block,
.approach-block {
    margin-right: 42px;
}

.repeat,
.approach,
.average {
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 12px;
}

/* Daily Goal */
.daily {
    background: rgb(255, 255, 255);
    padding: 13px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px rgba(29, 36, 42, 0.05);
    border-radius: 16px;
    text-align: start;
    display: grid;
    grid-template-columns: 50px 1fr 0.2fr;
}

.daily-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #1D1617;
    margin-left: 6px;
    margin-top: 8px;
}

.daily-img {
    width: 53px;
    height: 53px;
}

.progress {
    width: 100%;
    height: 13px;
    margin-top: 17px;
    margin-left: 6px;
    background: #F7F8F8;
    border-radius: 50px;
}

.done {
    position: relative;
    width: 23%;
    height: 13px;
    background: linear-gradient(272.69deg, #C58BF2 -59.92%, #92A3FD 86.39%);
    border-radius: 50px;
}

.percent {
    position: absolute;
    top: -15px;
    right: -14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #A4A9AD;
}

.main-link-to-edit {
    margin-left: 22px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-link-to-edit-img {
    width: 24px;
    height: 24px;
    
}

/* Activity */
.activity {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 0px 0px 20px 20px;
    padding-top: 10px;
    overflow: auto;
}

.activity-title {
    /* position: absolute; */
    width: 90.7%;
    height: 36px;
    text-align: start;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1D1617;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 18px 18px 0px 0px;
    padding-top: 20px;
    padding-left: 32px;
    
}

/* blocks */
.activity-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    margin-left: 28px;
    margin-right: 28px;
}

.block {
    width: 88px;
    height: 88px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;  
    padding: 16px;
    color: #1D1617;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
}

.block:first-child {
    margin-bottom: 23px;
}

.block-vector {
    width: 88px;
    height: 63px;
}

.repeats {
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    font-size: 9px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    text-fill-color: transparent;
}

.number-repeats {
    font-size: 14px;
    margin-right: 5px;
}

.block:last-child {
    margin-bottom: 10px;
}

.lack {
    text-align: center;
    margin-top: 80px;
    font-weight: 200;
    color: rgb(114, 114, 255);
}

                /* Navbar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100vw;
    height: 32px;
    background: #f8f8f8;
    box-shadow: 0px 10px 40px rgb(29 22 23 / 22%);
    padding-top: 27px;
    padding-bottom: 27px;
}

.left-nav {
    width: 13vh;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.right-nav {
    width: 13vh;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.home-link {
    margin-right: 35px;
    pointer-events: none;
}

.home-ico {
    width: 30px;
    height: 33px;
}

.stat-link {
    height: 29px;
}

.stat-ico {
    width: 29px;
    height: 29px;
}

.add {
    position: absolute;
    top: -29px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 26px 27px 26px 27px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.plus {
    width: 11px;
    height: 11px;
}

.edit-link {
    height: 24px;
}

.edit-ico {
    width: 24px;
    height: 24px;
}

.profile-link {
    margin-left: 35px;
    height: 28px;
}

.profile-ico {
    width: 28px;
    height: 28px;
}


                /* Modal */
.modal-bg {
    display: none;
    position: absolute;
    top: 120px;
    background-color: rgba(0, 42, 255, 0.203);
    width: 100%;
    height: 80%;
}

.modal {
    margin-right: auto;
    margin-left: auto;
    margin-top: 107px;
    width: 219px;
    height: 345px;
    background-color: white;
    box-shadow: 0px 10px 40px -3px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    text-align: center;
}

.modal-icon {
    width: 65px;
    height: 65px;
    margin-top: 22px;
    margin-bottom: 3px;
}

.modal-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.agree {
    position: absolute;
    top: 400px;
    left: 146px;
    text-align: center;
    padding: 24px 25px 24px 25px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.agree-icon {
    width: 21px;
    height: 21px;
}

/* Adaptation */
@media (max-height: 740px) {
    .activity {
        padding-bottom: 90px;
    }
}