            /* DropMenu */
details {
	position: relative;
	width: 100px;
	margin-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
    margin-left: 40px;
    margin-bottom: 3px;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 100px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

label {
    font-family: 'Poppins';
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

/* Container */
.container {
    padding-top: 25px;
    padding-right: 24px;
    padding-left: 24px;
    height: calc(100vh - 129px);
}

/* Header */
.header {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
}

.back {
    width: 42px;
    height: 42px;
}

.dots {
    width: 42px;
    height: 42px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1D1617;
    margin-top: 10px;
}

/* Main */
.main {
    overflow: auto;
    height: 541px;
}

.lack {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 80px;
    font-weight: 300;
    font-size: 24px;
    color: rgba(114, 114, 255, 0.604);
}

.block {
    background: linear-gradient(274.42deg, #92a4fd40 0%, #9dceff3e 124.45%);
    border-radius: 22px;
    height: 139px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 33px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #1D1617;
    margin-bottom: 16px;
}

.edit {
    width: 26px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.left-block {
    width: 120px;
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 5px;
}

.motivation-img {
    width: 40px;
}

.left-text {
    margin-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7B6F72;
}

.left-state {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.right-block {
    width: 120px;
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 5px;
}

.repeats-img {
    width: 40px;
    height: 40px;
}

.right-text {
    margin-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7B6F72;
}

.right-state {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Footer */
.footer {
    z-index: 10;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-new {
    /* text */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    /* Button */
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 99px;
}

                /* Modal */
.modal-bg {
    display: none;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 42, 255, 0.23);
    width: 100%;
    height: calc(100vh - 104px);
    z-index: 1;
}

.modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
    width: 219px;
    height: 345px;
    background-color: white;
    box-shadow: 0px 10px 40px -3px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    text-align: center;
}

.modal-icon {
    width: 65px;
    height: 65px;
    margin-top: 22px;
    margin-bottom: 3px;
}

.modal-title,
.modal-title-edit {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 21px;
}

.agree {
    position: absolute;
    bottom: -16px;
    left: calc(50% - 31.5px);
    text-align: center;
    padding: 20px 22px 20px 22px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.agree-icon {
    width: 21px;
    height: 21px;
}

/* Modal Edit */
.modal-bg-edit {
    display: none;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 42, 255, 0.23);
    width: 100%;
    height: calc(100vh - 104px);
    z-index: 1;
}

.modal-edit {
    margin-right: auto;
    margin-left: auto;
    margin-top: 217px;
    width: 219px;
    height: 243px;
    background-color: white;
    box-shadow: 0px 10px 40px -3px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    text-align: center;
}

.btn-block {
    display: flex;
    justify-content: center;
}

.agree-edit {
    text-align: center;
    margin-right: 10px;
    padding: 20px 22px 20px 22px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.delete {
    text-align: center;
    padding: 20px 22px 20px 22px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 50%;
}

.delete-ico {
    width: 21px;
    height: 21px;
}

.input {
    border: 1px solid rgba(206, 155, 155, 0.234);
	border-radius: 30px;
	width: 100px;
	height: 40px;
	margin-bottom: 20px;
    text-align: center;
	font-size: 25px;
	font-family: 'Poppins';
	font-weight: 300;
	position: relative;
}