/* Header */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 187px;
    height: 175px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #1D1617;
    margin-bottom: 5px;
}

.sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #7B6F72;
}

/* Main */
.main {
    padding-left: 24px;
    padding-right: 24px;
}
.input {
    width: 91%;
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    background: #F7F8F8;
    border: 0;
    border-radius: 14px;
    font-family: 'Poppins';
    color: rgb(39, 37, 37)
}

.block {
    display: flex;
    background: #F7F8F8;
    border: 1px solid #F7F8F8;
    border-radius: 14px;
    margin-bottom: 15px;
    position: relative;
}

.img {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 20px;
    transform: rotate(90deg);
}

.context {
    display: flex;
    width: 100%;
}

.drop-menu {
    display: none;
    font-family: 'Poppins';
    color: rgb(39, 37, 37);
    width: 100%;
    padding: 15px 0px;
    background-color:#f4f4f4;
    position: absolute;
    bottom: -100px;
    border-radius: 14px;
    z-index: 9999;
}

.drop-menu div {
    margin-left: 20px;
    cursor: pointer;
}

.male {
    margin-bottom: 10px;
}

.female {
    margin-top: 10px;
}

.context {
    border-radius: 14px;
}

hr {
    border: 0,1px solid rgba(158, 158, 158, 0.13);
}

.last {
    width: 100%;
}

.block-wrapper {
    display: flex;
    justify-content: space-between;
}

.size {
    width: 48px;
    height: 48px;
}

/* Placeholder */
.placeholder::-webkit-input-placeholder {
    color: white;
 }


/* Footer */
.footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    /* text */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;

    /* Button */
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
    border-radius: 99px;
}

.register {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}